artifacts/target
artifacts/\.classpath
artifacts/\.project
artifacts/\.settings
artifacts/test-output
backend/target
backend/\.classpath
backend/\.project
backend/\.settings
backend/test-output
gwt-client/target
gwt-client/\.classpath
gwt-client/\.project
gwt-client/\.settings
gwt-client/test-output
gwt-client/src/main/webapp/OpenLayers-2.11
gwt-client/SmartGWT/.*
etl/target
etl/\.classpath
etl/\.project
etl/\.settings
etl/test-output
\.swp
\.swo
\.pyc
TAGS
\.map
\.h2\.db
\.lock\.db
\.trace\.db
\.log
\.shp
\.dbf
\.prj
\.fix
\.qix
\.shx
\.aux
\.out
\.toc
\.pdf
